# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Environment variables
.env
*.env

# Uploaded files
uploads/
**/uploads/

# Node
node_modules/
dist/
dist-ssr/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3